body, #root, .App {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Style för header */
.App-header {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
  text-align: center;
}

/* Länkar */
.App-link {
  color: #f0f0f0; 
  padding: 10px 15px;
  background-color: #606c88; 
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s; 
}

.App-link:hover {
  background-color: #3d4860; 
}

/* Knappar */
.button {
  background-color: #606c88; 
  color: #f0f0f0; 
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #5a6978; 
}

input[type="checkbox"], input[type="text"], input[type="number"], textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

/* Listor */
.friend-list, .dog-list {
  list-style: none;
  padding: 0;
}

.friend-item, .dog-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Profilbilder av hundarna */
img.dog-photo {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 3px solid #c8bebe;
  margin-bottom: 20px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}


.hidden {
  display: none;
}

/* Profilsidan */
.profile-container {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling för närvarande-checkboxen */
.presence-container .checkbox-label {
  display: flex; 
  align-items: center; 
  margin-top: 10px; 
  margin-right: 490px;
}


input[type="checkbox"] {
  margin-left: 5px; 
}

/* Grön textfärg för närvarande hundar */
.dog-present {
  color: green;
}

/* Röd textfärg för frånvarande hundar */
.dog-absent {
  color: red;
}
