/* App.css */
.dog-present {
  color: green;
}

.dog-absent {
  color: red;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 800px;
  margin: 0 auto; /* Centrerar containern */
  padding: 20px;
}

.profile-container, .edit-container {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px; /* Mindre padding för mindre knappar */
  cursor: pointer;
  font-size: 14px; /* Mindre text för att matcha proportionerna */
}

.button:hover {
  background-color: #0056b3;
}

/* Minskar storleken på länkar för att matcha knappstorleken */
.App-link, .dog-present, .dog-absent {
  font-size: 16px; /* Justera denna storlek efter behov */
}

input[type="checkbox"] {
  margin-left: 10px;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

.friend-list {
  list-style: none;
  padding: 0;
}

.friend-item {
  margin: 10px 0;
}

img.dog-photo {
  max-width: 100%;
  border-radius: 8px;
}
